<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hamilton</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/babbage">Babbage</a></li>
                <li><a href="/berners-lee">Berners-Lee</a></li>
                <li><a href="/clarke">Clarke</a></li>
                <li><a href="/hamilton">Hamilton</a></li>
                <li><a href="/hopper">Hopper</a></li>
                <li><a href="/lovelace">Lovelace</li>
                <li><a href="/turing">Turing</a></li>
              </ul>
        </nav>
      </header>
      <main>
          <h1>Hamilton</h1>
          <img src="/images/hamilton.jpg" alt="">
          <p>Margaret Elaine Heafield was born August 17, 1936, in Paoli, Indiana, to Kenneth Heafield and Ruth Esther Heafield (née Partington);[2][3] she has two younger siblings: David[4][5] and Kathryn.[6] The family later moved to Michigan,[7] where Margaret graduated from Hancock High School in 1954.[2] She studied mathematics at the University of Michigan in 1955 before transferring to Earlham College where her mother was a student;[8][9] she earned a BA in mathematics with a minor in philosophy in 1958.[8][10] She cites Florence Long, the head of the math department at Earlham, as helping with her desire to pursue abstract mathematics and become a mathematics professor.[11] She had other inspirations including her father (a philosopher and poet), and her grandfather (a school headmaster and Quaker minister). She says these men inspired her to include a minor in philosophy in her studies.[12]</p>
      </main>
</body>
</html>